{{#venderExtensions.x-validations.string}}aaaaaa{{/venderExtensions.x-validations.string}}
{{#venderExtensions.x-validations-isbn13}}@A{{/venderExtensions.x-validations-isbn13}}
{{#vendorExtensions.x-validations.isbn13}}
  @ISBN13
{{/vendorExtensions.x-validations.isbn13}}